<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OLXConnect</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <div class="button-container">
        <button class="styled-button" onclick="window.location.href = '/auth/login';">Połącz Konto OLX</button>
    </div>



    <div class="list-accounts">

        <div class="account" th:each="token : ${tokenList}">
            <img src="/images/icons8-male-user-100.png" alt="User Icon">
            <div class="account-info">
                <p th:text="${token.username}">Nazwa użytkownika</p>
                <span class="status connected" th:if="${token.expiration.isAfter(T(java.time.LocalDateTime).now())}">Połączony</span>
                <span class="status expired" th:if="${token.expiration.isBefore(T(java.time.LocalDateTime).now())}">Token expired</span>
            </div>
        </div>
    </div>

</body>
</html>
