<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OLXConnect</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <div class="button-container">
        <button class="styled-button" onclick="window.location.href = '/auth/login';">Połącz Konto OLX</button>
    </div>



    <div class="list-accounts">
        <div class="account">
            <img src="icons8-male-user-100.png" alt="User Icon">
            <div class="account-info">
                <p>Admin 1</p>
                <span class="status connected">Połączony</span>
            </div>
        </div>

        <div class="account">
            <img src="icons8-male-user-100.png" alt="User Icon">
            <div class="account-info">
                <p>Admin 2</p>
                <span class="status expired">Token expired</span>
            </div>
        </div>

        <div class="account">
            <img src="icons8-male-user-100.png" alt="User Icon">
            <div class="account-info">
                <p>Admin 3</p>
                <span class="status error">Error</span>
            </div>
        </div>
    </div>

</body>
</html>
